
/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Zoom on Hover */
.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.09); /* IE 9 */
  -webkit-transform: scale(1.09); /* Safari 3-8 */
  transform: scale(1.09);
}
/* Zoom on Hover */

/* Left Sidebar for smaller screens */
.sidenav {
  display: none;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 100;
  top: 0;
  left:0;
  background-color: #0E429C;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 20px;
}

.sidenav a {
  font-weight: 400;
  border-bottom: 1px solid #0C3885;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  /* .sidenav {padding-top: 15px;} */
  .sidenav a {font-size: 12px;}
}

/* Left Sidebar for smaller screens */


/* Main Navigation */
.nav-container{
  margin: 0 4%;
  padding: 0.5% 0;
}

@media screen and (max-width: 600px) {
  .nav-container img{
    width: 70%;
  }
}

@media (max-width:992px) and (min-width:601px){
  .nav-container img{
    width: 30%;
  }
}

#navbar {
  z-index: 99;
  background-color: #0E429C;
  position: fixed;
  top: -62px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  padding: 0 4%;
  font-family: 'Poppins', sans-serif;
}


#navbar a {
  background-color: #0E429C;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight:bold;
  transition:0.3s;
}

@media screen and (max-width: 600px) {
  #navbar {
    text-align: center;
  }

}



#navbar a:hover {
  color: #07B3E0;
}
/* Main Navigation */


/* Parallax */
.parallax{
  height: 650px;
  position: relative;
}

.parallax-caption{
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
}
.parallax-caption img{
  width: 10%;
}

@media screen and (max-height: 320px) {
  .parallax-caption img{
    display: none;
  }
}

.caption-text{
  display: inline-block;
  background-color: #430C0D;
  color: white;
  border-left: 2px solid #8D3B58;
  border-radius: 2px;
  padding: 15px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .parallax{
    height: 400px;
  }

  .parallax-caption{
    bottom: 10px;
    left: 15px;
    right: 15px;
  }

  .parallax-caption img{
    width: 15%;
  }

  .caption-text{
    font-size: 16px;
  }
}
/* Parallax */

.container{
  margin: 5% 4%;
}

.section-title{
  color: #8D3B58;
}


/* Vertical Menu */
.vertical-menu {
  width: 100%;
 padding: 15px;
}

.vertical-menu a {
  background-color: white;
  border-left: 1px solid #8D3B58;
  color: black;
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  text-decoration: none;
  transition:0.1s;
}

.vertical-menu a:hover {
 color:#8D3B58;
 background-color: #f1f1f1;
}
/* Vertical Menu */


/* Custom Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0E429C;
}

/* Custom Scroll Bar */


/* General Info Table */
@media screen and (max-width: 600px) {
  .w3-table {
    word-wrap: break-word;
    font-size: 10px;
  }
}
/* General Info Table */



/* Footer */
.footer{
  background-color: #0E429C;
  padding: 5% 4%;
  opacity: 0.8;
}

.footer img{
  width:15%;
}

@media screen and (max-width: 600px) {
  .footer img{
    width: 65%;
  }
}
/* Footer */
